# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Prisma
prisma/dev.db

# Exports générés localement
exports/*
!exports/.gitkeep

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Build
dist/
build/
